* {
	margin: 0;
	padding: 0;

}

:root {
	--blue: #1d538a;
	--darkgreen: #40513b;
	--lightgreen: #9dc08b;
	--green: #609966;
	--beige: #EDF1d6;
}

body {
	background-color: beige;
}

/* ----------------- MAIN --------------------  */

main {
	padding: 1%;

}

.calificacion {
	display: flex;
	flex-direction: row;
	font-family: Arial, Helvetica, sans-serif;
	/* position: -webkit-sticky; 
	position: sticky;
	top: 0;	 */
	/* HACER ESTA SECCION STICKY */
}

.infoProd {
	padding: 2%;
}

#producto {
	font-size: 600%;
}

#vendedor {
	font-size: 200%;
}

#division {
	display: flex;
	flex-direction: row;
}

#promedio {
	font-size: 600%;
	margin: auto;
}

.resena {
	display: flex;
	justify-content: center;
}

.resena button {
	align-self: center;
	background-color: #9dc08b;
	border: none;
	color: white;
	padding: 1% 30%;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	margin: 4px 2px;
	cursor: pointer;
}

.FotoProducto img {
	height: 400px;
	width: 800px;
}

hr {
	border-top: 2px dashed;
	margin: auto;
	width: 99%;
}

/*  ------------------ COMMENT ------------------  */
section{
	padding: 1%;
}
.comentarios{
	font-family: Arial, Helvetica, sans-serif;
}

#profileImg{
	width: 80px;
    height: 80px;
	padding: 0.5%;

}
#comentInfo{
	padding-top: 1%;
	padding-left: 1%;
}
.checked {
	color: orange;
  }